body{
    margin: 0;
    background-image: url(../img/fundo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    color: rgb(40, 197, 245);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.menu {
    position: relative;
    top: 0;
    width: 100%;
    border: solid #F0F4EF;
}

.menu,
ul {
    font-size: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;


}

.menu,
ul,
li,
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-right: 80px;
    background-color: #344966;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.menu ul li a:hover {
    color: #BFCC94;
}

h1{
    text-align: justify;
    font-size: 24px;
    color: #F0F4EF;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
    margin-bottom: -14px;
}

img{
    width: 100px;
    height: 100px;
}

.container {
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;  
}